.App {
  text-align: center;
  margin: 30px;
}

.container {
  margin-top: 1rem;
  align-items: center;
}

.header {
  display: block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden {
  width: 0;
  visibility: collapse;
}

#formFile {
  width: 25%;
}

#inputImg {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

.choose {
  margin-bottom: 10px;
}
